<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mx-auto" style="padding-bottom: 20px">
        <img
          src="./assets/images/WhatsApp Image 2021-09-16 at 12.31.42 AM.jpeg"
          style="
            height: 300px;
            width: 300px;
            border-radius: 100%;
            object-fit: cover;
          "
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="text-center col-md-12">Developed by:</div>
      <div class="col-4" style="width: 200px">
        <h3 class="text-center">Mohamed Eldeeb</h3>

        <div class="row justify-content-center">
          <a
            class="text-center col-3"
            href=" https://www.linkedin.com/in/mohamed-eldeeb-94a3b11a4/"
            target="_blanck"
            >linkedin</a
          >
          <a class="text-center col-3" href="https://github.com/M-Hamo"
          target="_blanck"
            >Github</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
